<form action="/sign_in" method="post">
  <input type="email" name="email" placeholder="example@gmail.com">
  <input type="password" name="password" placeholder="your password">
  <input type="submit" value="sign in">
</form>