<form action="/profile/:user_id">
  <input type="text" name="name" placeholder="Jack Bond">
  <input type="email" name="email" placeholder="example@gmail.com" />
  <input type="password" name="password" placeholder="min 8 char" />
  <input type="submit" value="create account">
</form>